#mens{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: solid; */
    margin: 10px;
    padding: 10px;
    column-gap: 15px;
}
#mens div{
    /* border: solid; */
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    background-color: rgb(245,245,245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
img{
    width: 100%;
}
.container {
    position: relative;
}

.container div h1{
    position: absolute;
    top: 20%;
    left: 16px;
    /* border: solid; */
}
.container div p{
    position: absolute;
    top: 40%;
    left: 16px;
    /* border: solid; */
}
.container div button{
    position: absolute;
    top: 60%;
    left: 16px;
    background-color: black;
    color: white;
    height: 50px;
    /* border: solid; */
}
#hvr:hover{
    background-color: gray;
}


#container2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#container2 div{
    /* border: solid; */
    /* justify-content: center; */
    padding: 10px;
}
#container2 div a img,p{
    /* border: solid; */
    margin-top:20px;
    text-align: center;
}

#container3{
    display: grid;;
    grid-template-columns: repeat(3,1fr);
    margin: 0 10px 0 10px;
}

#container3 div{
    /* border: solid; */
    padding: 10px;
    text-align: center;
}

#container3 div h1{
    /* border: solid; */
    margin: 5% 10% 05% 10%;
}


#container4 div+div{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* border: solid; */
}
#container4 div div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    /* border: solid; */
    margin: 10px;
    align-content: flex-start;
}
#container4 div div p{
    /* border: solid; */
    margin: 10% 15% 5% 10%;
    text-align-last: center;
}

.container5 {
    position: relative;
}

.container5 div h1{
    position: absolute;
    top: 30%;
    left: 5%;
    color: white;
    /* border: solid; */
}
.container5 div p{
    position: absolute;
    top: 40%;
    left: 5%;
    right: 60%;
    text-align: justify;
    color: white;
    /* border: solid; */
}
.container5 div button{
    position: absolute;
    top: 60%;
    left: 5%;
    background-color:white;
    color: black;
    height: 50px;
    /* border: solid; */
}

#container3 div p{
    margin: 0 5% 10% 5%;
    /* border: solid; */
    text-align: center;
}







.header{
    background-color:black ;
    /* position: fixed; */
    width: 100%;
    top:0;
    left:2px;
}
.top{
    height: 30px;
    color: white;
   
    /* border: 1px solid rgb(139, 234, 24); */
}

hr{
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
    justify-content: space-between;
    /* background-color: black;  */
    color:white;
    height: 80px;
    
   
}
.left{
    display: flex;
    flex-direction: row;
    /* border: 1px solid yellow; */
    align-items: center;
    /* background-color: black; */
    width: 60%;
    margin-left: -150px;
    
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    align-items: center;
    

}
.left ul li{
    padding: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:16px;
    margin-top: 20px;
    
}

.logo img{
    height: 50px;
    width: 100px;
    margin-top: 30px;
    margin-left: 10px;
    border-color: rgb(50, 12, 176);
    border-left :1px solid blue;
    border-right:1px solid blue;
}


.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid yellow; */
    /* padding-right: 100px; */
    
    justify-content: space-between; 
    /* background-color: white; */
    
    

}
.searchbar{
    display: flex;
    background-color: white;
    padding: 7px 10px;
    border: 0.5px solid grey;
    border-radius: 2px;
}
.searchbar input{
    border: none;
    padding-top: 8px;
    font-size: 12px;
    padding-left: 10px;
}
.searchbar img{
    width: 20px;
    height: 20px;
    margin-top: 4px;
    padding-right: 4px;
    
    /* padding-top:10px ; */
    /* align-items: center;
    justify-content: space-between; */
}
.cart a img{
    color: white;
}
.cart{
    margin: 0px, 40px;
}


.cart a img{
    width: 20px;
    height: 20px;
    color: white;
  
    /* padding-left: 20px; */
}
.carticon{
    color: white;
}








/*.............................. footer ........................................*/



h1,
h2,
h3,
h4,
h5,
h6 {}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}
section {
    padding: 60px 0;
   /* min-height: 100vh;*/
}
.btn {
padding: 14px 25px;
text-transform: uppercase;
-webkit-transition: all 0.8s;
-moz-transition: all 0.8s;
-o-transition: all 0.8s;
transition: all 0.8s;
}
.red-btn {
background: #ed1b24;
border: 2px solid #ed1b24;
color: #fff;
}

.red-btn:hover{
background: #1c376c;
color: #fff;
border-color: #ffffff;
}

/*---------footer---------*/
footer {
background-color: #222023;
background-image: -webkit-linear-gradient( top, #222023, #1e2c47 );
background-image: -moz-linear-gradient( top, #222023, #1e2c47 );
background-image: -o-linear-gradient( top, #222023, #1e2c47 );
background-image: linear-gradient( to bottom, #222023, #1e2c47 );
color: #fff;
padding: 220px 0;
font-size: 17px;
}
footer h3 {
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
}
footer h4 {
font-size: 20px;
font-weight: 600;
letter-spacing: 1px;
display: inline-block;
margin-bottom: 2px;
}
.about-footer li i {
position: absolute;
left: 0;
}
.about-footer li {
padding-left: 40px;
position: relative;
margin-bottom: 40px;
}

.about-footer ul {
margin-top: 40px;
}

footer a {
color: #fff;
}

footer a:hover {
color: #ed1b24;
}
.footer-title {
border-bottom: 2px solid #a61f2d;
padding-bottom: 25px;
margin-bottom: 35px;
}

ul.footer-social {
float: right;
}

ul.footer-social li {
display: inline;
margin-right: 16px;
}

ul.footer-social i {
width: 30px;
height: 30px;
background: #fff;
color: #222025;
text-align: center;
line-height: 30px;
border-radius: 30px;
font-size: 16px;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
font-weight: 800;
}

ul.footer-social li:last-child {
margin-right: 0px;
}

ul.footer-social i:hover {
background: #ed1b24;
color: #fff;
}

.page-more-info li {
margin-bottom: 31px;
}

footer .table td:first-child {
font-weight: 600;
padding-left: 33px;
}

footer .table td:last-child {text-align: right;}
footer .table td {
padding: 0px;
border: 0;
}

footer .table tr {
}

footer .table td i {
position: absolute;
left: 0px;
font-size: 21px;
top: 6px;
}

footer .table td {
position: relative;
padding: 4px 0;
}
.footer-logo td {
padding-right: 4px !important;
}

.footer-logo td:last-child {
padding-right: 0px !important;
}
footer hr {
border-color: #9294a0;
}

.footer-bottom p {
text-align: right;
}
.footer-bottom {
margin-top: 30px;
}
.open-hours hr {
margin: 30px 0;
}
